@using System.Security.Claims
@using recordBook.Models
@using recordBook.Models.ViewModels

@model AttendanceViewModel
@{
	@if (User.IsInRole("Student"))
	{
		ViewData["Title"] = "Ваша посещаемость, " + User.FindFirst(ClaimTypes.Surname)?.Value + " " + User.FindFirst(ClaimTypes.Name)?.Value;
	}
	else if (User.IsInRole("Adm"))
	{
		ViewData["Title"] = "Посещаемость группы " + Model.selectedGroup.Name_group;
	}
	else
	{
		ViewData["Title"] = "Посещаемость вашей группы (" + Model.selectedGroup.Name_group + ")";
	}
}

<h1>@ViewData["Title"]</h1>

@if (User.IsInRole("Adm"))
{
	<form asp-controller="Attendance" asp-action="AttendanceOfStudents">
		<select name="selectedGroup" required onchange="this.form.submit()" style="width:15%; height:40px; text-align:center">
			@foreach (var groups in Model.Groups)
			{
				if (groups.ID_Group == Model.selectedGroup.ID_Group)
				{
					<option value="@groups.ID_Group" selected>@groups.Name_group</option>
				}
				else
				{
					<option value="@groups.ID_Group">@groups.Name_group</option>
				}
			}
		</select>

		<select name="selectedSubject" required onchange="this.form.submit()" style="width:20%; height:40px; text-align:center">
			@foreach (var subj in Model.Subjects)
			{
				if (Model.Group_Subjects.Where(y => y.ID_Group == Model.selectedGroup.ID_Group).Select(z => z.ID_Subject).Contains(subj.ID_Subject))
				{
					if (subj.ID_Subject == Model.selectedSubject.ID_Subject)
					{
						<option value="@subj.ID_Subject" selected>@subj.Name_subject</option>
					}
					else
					{
						<option value="@subj.ID_Subject">@subj.Name_subject</option>
					}
				}
			}
		</select>

		<button type="button" id="ChangeAttendanceBtn" class="btn btn-warning">Изменить посещаемость</button>
	</form>


	<table class="table" id="myTable">

		<thead>
			<tr>
				<th id="tableLabel">
					<h6 style="margin-bottom : 0px; text-align:center;">Студент</h6>
				</th>

				@{
					var RightAttendances = Model.Attendances.Where(z => z.ID_Subject == Model.selectedSubject.ID_Subject)
					.Where(q => q.ID_Student == Model.Students
					.Where(w => w.ID_Group == Model.selectedGroup.ID_Group)
					.Select(r => r.ID_Student).FirstOrDefault());

				}

				@foreach (var item in RightAttendances)
				{
					<th id="tableLabel">
						<h6 style="margin-bottom : 0px; text-align:center;">@item.Date_presence.ToString("dd.MM")</h6>
					</th>
				}
			</tr>
		</thead>

		<tbody>
			@foreach (var item in Model.Students.Where(z => z.ID_Group == Model.selectedGroup.ID_Group))
			{
				<tr>
					<td style="text-align:center; font-weight: bold">
						<p id="label_s">@item.Surname  @item.Name  @item.Patronymic</p>
					</td>
					@foreach (var r in Model.Attendances.Where(z => z.ID_Student == item.ID_Student)
							.Where(q => q.ID_Subject == Model.selectedSubject.ID_Subject))
					{
						<td style="text-align:center; font-weight: bold;">
							@if (@r.Precense == true)
							{
								<input type="checkbox" class="AttendaceCheckbox" onchange="AttendanceIsChanged(@r.ID_Attendance,event)" checked disabled>
							}
							else
							{
								<input type="checkbox" class="AttendaceCheckbox" onchange="AttendanceIsChanged(@r.ID_Attendance,event)" disabled>
							}
						</td>
					}
				</tr>
			}
		</tbody>

	</table>
}
else if (User.IsInRole("Curator"))
{
	<form asp-controller="Attendance" asp-action="AttendanceOfStudents">
		<select name="selectedGroup" required onchange="this.form.submit()" style="width:15%; height:40px; text-align:center">
			@foreach (var groups in Model.Groups)
			{
				if (groups.ID_Group == Model.selectedGroup.ID_Group)
				{
					<option value="@groups.ID_Group" selected>@groups.Name_group</option>
				}
				else
				{
					<option value="@groups.ID_Group">@groups.Name_group</option>
				}
			}
		</select>

		<select name="selectedSubject" required onchange="this.form.submit()" style="width:20%; height:40px; text-align:center">
			@foreach (var subj in Model.Subjects)
			{
				if (Model.Group_Subjects.Where(y => y.ID_Group == Model.selectedGroup.ID_Group).Select(z => z.ID_Subject).Contains(subj.ID_Subject))
				{
					if (subj.ID_Subject == Model.selectedSubject.ID_Subject)
					{
						<option value="@subj.ID_Subject" selected>@subj.Name_subject</option>
					}
					else
					{
						<option value="@subj.ID_Subject">@subj.Name_subject</option>
					}
				}
			}
		</select>

	</form>

	<table class="table" id="myTable">

		<thead>
			<tr>
				<th id="tableLabel">
					<h6 style="margin-bottom : 0px; text-align:center;">Студент</h6>
				</th>

				<th id="tableLabel">
					<h6 style="margin-bottom : 0px; text-align:center;">Посещаемость</h6>
				</th>

				@{
					var maxAttendanceCount = Model.Attendances.Where(q => q.ID_Subject == Model.selectedSubject.ID_Subject).Count(q => q.ID_Student == Model.Students.Select(q => q.ID_Student).FirstOrDefault());
				}

				@for (int i = 1; i < maxAttendanceCount; i++)
				{
					<th id="tableLabel">
					</th>
				}
			</tr>
		</thead>

		<tbody>
			@foreach (var item in Model.Students.Where(z => z.ID_Group == Model.selectedGroup.ID_Group))
			{
				<tr>
					<td style="text-align:center; font-weight: bold">
						<p id="label_s">@item.Surname  @item.Name  @item.Patronymic</p>
					</td>
					@foreach (var r in Model.Attendances.Where(z => z.ID_Student == item.ID_Student)
							.Where(q => q.ID_Subject == Model.selectedSubject.ID_Subject))
					{
						<td style="text-align:center; font-weight: bold;">
							@if (@r.Precense == true)
							{
								<h6 style='margin-bottom:0px; text-align:center;'>@r.Date_presence.ToString("dd.MM")</h6>
							}
							else
							{
								<h6 style='margin-bottom:0px; text-align:center; color:red'>@r.Date_presence.ToString("dd.MM")</h6>
							}
						</td>
					}

				</tr>
			}
		</tbody>

	</table>
}
else
{
	<table class="table" id="myTable">

		<thead>
			<tr>
				<th id="tableLabel">
					<h6 style="margin-bottom : 0px; text-align:center;">Предмет</h6>
				</th>

				@* 				@{
			var RightAttendances = Model.Attendances.Where(q => q.ID_Student == Model.Students.Select(r => r.ID_Student).FirstOrDefault());
			}
			@foreach (var item in RightAttendances)
			{
			<th id="tableLabel">
			<h6 style="margin-bottom : 0px; text-align:center;">@item.Date_presence.ToString("dd.MM")</h6>
			</th>
			} *@

				<th id="tableLabel">
					<h6 style="margin-bottom : 0px; text-align:center;">Посещаемость</h6>
				</th>
				@{
					var subjectWithMostEntries = Model.Group_Subjects
					.Select(s => new
					{
						AttendanceCount = Model.Attendances.Where(q => q.ID_Student == Convert.ToInt32(User.FindFirst(ClaimTypes.SerialNumber).Value))
					.Count(a => a.ID_Subject == s.ID_Subject)
					})
					.OrderByDescending(x => x.AttendanceCount)
					.FirstOrDefault();

					int maxAttendanceCount = subjectWithMostEntries?.AttendanceCount ?? 0;

				}

				@for (int i = 1; i < maxAttendanceCount; i++)
				{
					<th id="tableLabel">
					</th>
				}

			</tr>
		</thead>
		<tbody>
			@foreach (var subj in Model.Group_Subjects)
			{
				@foreach (var item in Model.Subjects.Where(q => q.ID_Subject == subj.ID_Subject))
				{
					<tr>
						<td style="text-align:center; font-weight: bold">
							<p id="label_s">@item.Name_subject</p>
						</td>

						@foreach (var r in Model.Attendances.Where(q => q.ID_Student == Convert.ToInt32(User.FindFirst(ClaimTypes.SerialNumber).Value))
								.Where(q => q.ID_Subject == subj.ID_Subject))
						{
							<td style="text-align:center; font-weight: bold;">
								@if (@r.Precense == true)
								{
									<h6 style='margin-bottom:0px; text-align:center;'>@r.Date_presence.ToString("dd.MM")</h6>
								}
								else
								{
									<h6 style='margin-bottom:0px; text-align:center; color:red'>@r.Date_presence.ToString("dd.MM")</h6>
								}
							</td>
						}

					</tr>
				}
			}
		</tbody>
	</table>
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type='text/javascript'>


	$('#ChangeAttendanceBtn').click(function (id) {
		if ($('#ChangeAttendanceBtn').text() == 'Изменить посещаемость') {
			$('.AttendaceCheckbox').removeAttr("disabled");
			$('#ChangeAttendanceBtn').text('Сохранить');
		}
		else {
			$('#ChangeAttendanceBtn').text('Изменить посещаемость');
			$('.AttendaceCheckbox').attr("disabled", true);;
			location.reload()
		}

	});

	function AttendanceIsChanged(id, event) {
		console.log(id + " " + event.target.checked);
		var Attendance = event.target.checked;
		$.ajax({
			type: 'POST',
			url: '/Attendance/ChangeAttendance/',
			contentType: 'application/json',
			data: JSON.stringify({ id: id, newAttendance: Attendance }),
			dataType: 'json',
			success: function (data) {
				console.log(data);
			}

		});
	};
</script>