@using System.Security.Claims
@using recordBook.Models
@using recordBook.Models.ViewModels

@model AttendanceViewModel
@{
	@if (User.IsInRole("Student"))
	{
		ViewData["Title"] = "Ваша посещаемость, " + User.FindFirst(ClaimTypes.Surname)?.Value + " " + User.FindFirst(ClaimTypes.Name)?.Value;
	}
	else if (User.IsInRole("Adm") || User.IsInRole("Curator"))
	{
		ViewData["Title"] = "Посещаемость группы " + Model.selectedGroup.Name_group;
	}
}

<h1>@ViewData["Title"]</h1>

@if (User.IsInRole("Adm"))
{
	<form asp-controller="Attendance" asp-action="AttendanceOfStudents">
		<select name="selectedGroup" required onchange="this.form.submit()" style="width:30%; max-width:150px; height:40px; text-align:center">
			@foreach (var groups in Model.Groups)
			{
				if (groups.ID_Group == Model.selectedGroup.ID_Group)
				{
					<option value="@groups.ID_Group" selected>@groups.Name_group</option>
				}
				else
				{
					<option value="@groups.ID_Group">@groups.Name_group</option>
				}
			}
		</select>

		<select name="selectedSubject" required onchange="this.form.submit()" style="width:50%; max-width:300px; height:40px; text-align:center">
			@foreach (var subj in Model.Subjects)
			{
				if (Model.Group_Subjects.Where(y => y.ID_Group == Model.selectedGroup.ID_Group).Select(z => z.ID_Subject).Contains(subj.ID_Subject))
				{
					if (subj.ID_Subject == Model.selectedSubject.ID_Subject)
					{
						<option value="@subj.ID_Subject" selected>@subj.Name_subject</option>
					}
					else
					{
						<option value="@subj.ID_Subject">@subj.Name_subject</option>
					}
				}
			}
		</select>

		<button type="button" id="ChangeAttendanceBtn" class="btn btn-warning">Изменить посещаемость</button>
	</form>
	<br>

	<p>
		<input class="leg" type="checkbox" checked disabled> - Пропуск
	</p>

	<p>
		<input class="leg" type="checkbox" disabled> - Был на паре
	</p>


	<table class="table" id="myTable">

		<thead>
			<tr>
				<th id="tableLabel">
					<h6 style="margin-bottom : 0px; text-align:justify;">Студент</h6>
				</th>

				@{
					var RightAttendances = Model.Attendances.Where(z => z.ID_Subject == Model.selectedSubject.ID_Subject)
					.Where(q => q.ID_Student == Model.Students
					.Where(w => w.ID_Group == Model.selectedGroup.ID_Group)
					.Select(r => r.ID_Student).FirstOrDefault());

				}

				@foreach (var item in RightAttendances)
				{
					<th id="tableLabel">
						<h6 style="margin-bottom : 0px; text-align:center;">@item.Date_presence.ToString("dd.MM")</h6>
					</th>
				}
			</tr>
		</thead>

		<tbody>
			@foreach (var item in Model.Students.Where(z => z.ID_Group == Model.selectedGroup.ID_Group))
			{
				<tr>
					<td style="text-align:justify; font-weight: bold">
						<p id="label_s">@item.Surname  @item.Name  @item.Patronymic</p>
					</td>
					@foreach (var r in Model.Attendances.Where(z => z.ID_Student == item.ID_Student)
							.Where(q => q.ID_Subject == Model.selectedSubject.ID_Subject))
					{
						<td style="text-align:center; font-weight: bold;">
							@if (@r.Precense == true)
							{
								<input type="checkbox" class="AttendaceCheckbox" onchange="AttendanceIsChanged(@r.ID_Attendance,event)"  checked disabled>
							}
							else
							{
								<input type="checkbox" class="AttendaceCheckbox" onchange="AttendanceIsChanged(@r.ID_Attendance,event)" disabled>
							}
						</td>
					}
				</tr>
			}
		</tbody>

	</table>
}
else if (User.IsInRole("Curator"))
{
	<form asp-controller="Attendance" asp-action="AttendanceOfStudents">
		<select name="selectedGroup" required onchange="this.form.submit()" style="width:30%;  max-width:150px; height:40px; text-align:center">
			@foreach (var groups in Model.Groups)
			{
				if (groups.ID_Group == Model.selectedGroup.ID_Group)
				{
					<option value="@groups.ID_Group" selected>@groups.Name_group</option>
				}
				else
				{
					<option value="@groups.ID_Group">@groups.Name_group</option>
				}
			}
		</select>

		<select name="selectedSubject" required onchange="this.form.submit()" style="width:50%; max-width:300px; height:40px; text-align:center">
			@foreach (var subj2 in Model.Subjects)
			{
				if (Model.Group_Subjects.Where(y => y.ID_Group == Model.selectedGroup.ID_Group).Select(z => z.ID_Subject).Contains(subj2.ID_Subject))
				{
					if (subj2.ID_Subject == Model.selectedSubject.ID_Subject)
					{
						<option value="@subj2.ID_Subject" selected>@subj2.Name_subject</option>
					}
					else
					{
						<option value="@subj2.ID_Subject">@subj2.Name_subject</option>
					}
				}
			}
		</select>
	</form>
	<br>
	<h6 class="leg">@DateTime.Today.ToString("dd.MM") - Был на паре</h6>

	<h6 class="leg" style='color:red'>@DateTime.Today.ToString("dd.MM") - Пропуск</h6>

	<table class="table" id="CuratorTable">

		<thead>
			<tr>
				<th id="tableLabel">
					<h6 style="margin-bottom : 0px; text-align:justify;">Студент</h6>
				</th>

				<th id="tableLabel">
					<h6 style="margin-bottom : 0px; text-align:center;">Посещаемость</h6>
				</th>

				@{
					int maxAttendanceCount = Model.Attendances.Where(q => q.ID_Student == Model.Students.Select(q => q.ID_Student).FirstOrDefault()).Count(); //q => q.ID_Student == Model.Students.Select(q => q.ID_Student).FirstOrDefault()
				}

				@for (int i = 0; i < maxAttendanceCount; i++)
				{
					<th id="tableLabel">
					</th>
				}
			</tr>
		</thead>

		<tbody>
			@foreach (var item in Model.Students.Where(z => z.ID_Group == Model.selectedGroup.ID_Group))
			{
				<tr>
					<td style="text-align:justify; font-weight: bold">
						<p id="label_s">@item.Surname  @item.Name  @item.Patronymic</p>
					</td>
					@foreach (var r in Model.Attendances.Where(z => z.ID_Student == item.ID_Student)
							.Where(q => q.ID_Subject == Model.selectedSubject.ID_Subject))
					{
						<td style="text-align:justify; font-weight: bold;">
							@if (@r.Precense == true)
							{
								<h6 style='margin-bottom:0px; text-align:center;'>@r.Date_presence.ToString("dd.MM")</h6>
							}
							else
							{
								<h6 style='margin-bottom:0px; text-align:center; color:red'>@r.Date_presence.ToString("dd.MM")</h6>
							}
						</td>
					}

				</tr>
			}
		</tbody>
	</table>

	string group = Model.selectedGroup.Name_group;
	string subj = Model.selectedSubject.Name_subject;

	<button id="exportButton" class="btn btn-info" onclick="exportToExcel('@group','@subj')">Сохранить в Excel</button>
}
else if(User.IsInRole("Student"))
{
	<table class="table" id="myTable">

		<thead>
			<tr>
				<th id="tableLabel">
					<h6 style="margin-bottom : 0px; text-align:justify;">Предмет</h6>
				</th>

				@* 				@{
			var RightAttendances = Model.Attendances.Where(q => q.ID_Student == Model.Students.Select(r => r.ID_Student).FirstOrDefault());
			}
			@foreach (var item in RightAttendances)
			{
			<th id="tableLabel">
			<h6 style="margin-bottom : 0px; text-align:center;">@item.Date_presence.ToString("dd.MM")</h6>
			</th>
			} *@

				<th id="tableLabel">
					<h6 style="margin-bottom : 0px; text-align:justify;">Посещаемость</h6>
				</th>
				@{
					var subjectWithMostEntries = Model.Group_Subjects
					.Select(s => new
					{
						AttendanceCount = Model.Attendances.Where(q => q.ID_Student == Convert.ToInt32(User.FindFirst(ClaimTypes.SerialNumber).Value))
					.Count(a => a.ID_Subject == s.ID_Subject)
					})
					.OrderByDescending(x => x.AttendanceCount)
					.FirstOrDefault();

					int maxAttendanceCount = subjectWithMostEntries?.AttendanceCount ?? 0;

				}

				@for (int i = 1; i < maxAttendanceCount; i++)
				{
					<th id="tableLabel">
					</th>
				}

			</tr>
		</thead>
		<tbody>
			@foreach (var subj in Model.Group_Subjects)
			{
				@foreach (var item in Model.Subjects.Where(q => q.ID_Subject == subj.ID_Subject))
				{
					<tr>
						<td style="text-align:justify; font-weight: bold">
							<p id="label_s">@item.Name_subject</p>
						</td>

						@foreach (var r in Model.Attendances.Where(q => q.ID_Student == Convert.ToInt32(User.FindFirst(ClaimTypes.SerialNumber).Value))
								.Where(q => q.ID_Subject == subj.ID_Subject))
						{
							<td style="text-align:justify; font-weight: bold;">
								@if (@r.Precense == true)
								{
									<h6 style='margin-bottom:0px; text-align:justify;'>@r.Date_presence.ToString("dd.MM")</h6>
								}
								else
								{
									<h6 style='margin-bottom:0px; text-align:justify; color:red'>@r.Date_presence.ToString("dd.MM")</h6>
								}
							</td>
						}

					</tr>
				}
			}
		</tbody>
	</table>

}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.0/xlsx.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/exceljs/dist/exceljs.min.js"></script>
<script type='text/javascript'>

	async function exportToExcel(selectedGroup, selectedSubject) {
		const ExcelJS = window.ExcelJS;

		var workbook = new ExcelJS.Workbook();
		var worksheet = workbook.addWorksheet('Sheet1');

		// Находим таблицу на сайте
		var table = document.getElementById('CuratorTable');

		// Получаем данные из HTML-таблицы
		var data = [];
		for (var i = 0; i < table.rows.length; i++) {
			var rowData = [];
			for (var j = 0; j < table.rows[i].cells.length; j++) {
				rowData.push(table.rows[i].cells[j].innerText.trim());
			}
			data.push(rowData);
		}

		// Заполняем ячейки в файле Excel данными из таблицы
		data.forEach((row, rowIndex) => {
			row.forEach((cell, cellIndex) => {
				if (rowIndex === 0) {
					// Установка стиля для шапки таблицы
					const excelCell = worksheet.getCell(String.fromCharCode(65 + cellIndex) + (rowIndex + 1));
					excelCell.value = cell;
					if (cell.trim() !== "") {
						excelCell.fill = {
							type: 'pattern',
							pattern: 'solid',
							fgColor: { argb: 'FFC0C0C0' } // Серый цвет фона
						};
						excelCell.font = { bold: true };
					}
				} else {
					const tableCell = table.rows[rowIndex].cells[cellIndex];
					const h6Element = tableCell.querySelector('h6');
					const excelCell = worksheet.getCell(String.fromCharCode(65 + cellIndex) + (rowIndex + 1));
					excelCell.value = cell;
					if (h6Element) {
						const computedStyles = window.getComputedStyle(h6Element);
						const fontColor = computedStyles.color;
						if (fontColor === 'rgb(255, 0, 0)') {
							excelCell.font = { color: { argb: 'FF0000' } };
						}
					}
				}
			});
		});

		// Автоматически устанавливаем ширину столбцов
		worksheet.columns.forEach(column => {
			let maxLength = 0;
			column.eachCell({ includeEmpty: true }, cell => {
				maxLength = Math.max(maxLength, (cell.value || '').toString().length);
			});
			column.width = maxLength + 2;
		});


		var Title = "Посещаемость " + selectedGroup + " " + selectedSubject + ".xlsx";
		// Скачиваем Excel файл
		const buffer = await workbook.xlsx.writeBuffer();
		saveAs(new Blob([buffer], { type: "application/octet-stream" }), Title);
	}

	$('#ChangeAttendanceBtn').click(function (id) {
		if ($('#ChangeAttendanceBtn').text() == 'Изменить посещаемость') {
			$('.AttendaceCheckbox').removeAttr("disabled");
			$('#ChangeAttendanceBtn').text('Сохранить');
		}
		else {
			$('#ChangeAttendanceBtn').text('Изменить посещаемость');
			$('.AttendaceCheckbox').attr("disabled", true);;
			location.reload()
		}

	});

	function AttendanceIsChanged(id, event) {
		var Attendance = event.target.checked;
		$.ajax({
			type: 'POST',
			url: '/Attendance/ChangeAttendance/',
			contentType: 'application/json',
			data: JSON.stringify({ id: id, newAttendance: Attendance }),
			dataType: 'json',
		});
	};




</script>