@using recordBook.Models
@using recordBook.Models.ViewModels

@model GroupsStudents
@*@Model.Groups*@
@{
	ViewData["Title"] = "Студенты групы " + Model.selectedGroup.Name_group;
}

<h1>@ViewData["Title"]</h1>

<p>Выберите группу</p>

<form asp-controller="Home" asp-action="ExamsMarks">
	<select name="selectedGroup" required onchange="this.form.submit()" style="width:120px; height:40px; text-align:center">
		@foreach (var groups in Model.Groups)
		{
			if (groups.ID_Group == Model.selectedGroup.ID_Group)
			{
				<option value="@groups.ID_Group" selected>@groups.Name_group</option>
			}
			else
			{
				<option value="@groups.ID_Group">@groups.Name_group</option>
			}
		}
	</select>
</form>
