@using recordBook.Models
@using recordBook.Models.ViewModels

@model Exams
@{
	ViewData["Title"] = "Студенты групы " + Model.selectedGroup.Name_group;
}

<h1>@ViewData["Title"]</h1>

<p>Выберите группу</p>

<form asp-controller="Home" asp-action="ExamsMarks">
	<select name="selectedGroup" required onchange="this.form.submit()" style="width:120px; height:40px; text-align:center">
		@foreach (var groups in Model.Groups)
		{
			if (groups.ID_Group == Model.selectedGroup.ID_Group)
			{
				<option value="@groups.ID_Group" selected>@groups.Name_group</option>
			}
			else
			{
				<option value="@groups.ID_Group">@groups.Name_group</option>
			}
		}
	</select>

	<select name="selectedSubject" required onchange="this.form.submit()" style="width:200px; height:40px; text-align:center">
		@foreach (var subj in Model.Subjects)
		{
			if (Model.Group_Subjects.Where(y => y.ID_Group == Model.selectedGroup.ID_Group).Select(z => z.ID_Subject).Contains(subj.ID_Subject)){
				if (subj.ID_Subject == Model.selectedSubject.ID_Subject)
				{
					<option value="@subj.ID_Subject" selected>@subj.Name_subject</option>
				}
				else
				{
					<option value="@subj.ID_Subject">@subj.Name_subject</option>
				}
			}
		}
	</select>
</form>

<table class="table" id="myTable" style="width:1200px">

	<thead>
		<tr>
			<th id="tableLabel">
				<h6 style="margin-bottom : 0px; text-align:center;">Студент</h6>
			</th>
			<th id="tableLabel">
				<h6 style="margin-bottom : 0px; text-align:center; padding-right:100px;">Оценка</h6>
			</th>
		</tr>
	</thead>
	<form asp-controller="Home" asp-action="ExamsMarks">
	<tbody>
			@foreach (var item in Model.Students.Where(z => z.ID_Group == Model.selectedGroup.ID_Group))
			{
				//var data = item.Date.ToString("dd MMMM yyyy");
			<tr>
				<td style="text-align:center; font-weight: bold">
					<p id="label_s">@item.Surname  @item.Name  @item.Patronymic</p>
				</td>
				@foreach(var r in Model.Academic_Performances.Where(z=>z.ID_Student == item.ID_Student).Where(y=>y.ID_Subject == Model.selectedSubject.ID_Subject))
				{
					<td style="text-align:center;  padding-right:100px; font-weight: bold ">
					<p id="label_s">@Html.DisplayFor(modelItem => r.Grade)</p>
				</td>
				}
			</tr>
			}
	</tbody>
	</form>
</table>
