@using recordBook.Models
@using recordBook.Models.ViewModels

@model GroupsStudents
@*@Model.Groups *@
@{
	ViewData["Title"] = "Студенты групы " + Model.selectedGroup.Name_group;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<p>Выберите группу</p>

<form asp-controller="Home" asp-action="ShowData">
	<select name="selectedGroup" required onchange="this.form.submit()" style="width:120px; height:40px; text-align:center">
		@foreach (var groups in Model.Groups)
		{
			if (groups.ID_Group == Model.selectedGroup.ID_Group)
			{
				<option value="@groups.ID_Group" selected>@groups.Name_group</option>
			}
			else
			{
				<option value="@groups.ID_Group">@groups.Name_group</option>
			}
		}
	</select>
</form>


<table class="table" id="myTable">

	<thead>
		<tr>
			<th id="tableLabel">
				<h6 style="margin-bottom : 0px; text-align:center;">Фамилия</h6>
			</th>
			<th id="tableLabel">
				<h6 style="margin-bottom : 0px; text-align:center;">Имя</h6>
			</th>
			<th id="tableLabel">
				<h6 style="margin-bottom : 0px; text-align:center;">Отчество</h6>
			</th>
			<th id="tableLabel">
				<h6 style="margin-bottom : 0px; text-align:center;">Действие</h6>
			</th>
		</tr>
	</thead>
	<form asp-controller="Home" asp-action="ShowData">
	<tbody>
			@foreach (var item in Model.Students.Where(z => z.ID_Group == Model.selectedGroup.ID_Group))
			{
			//var data = item.Date.ToString("dd MMMM yyyy");
			<tr>
				<td style="text-align:center;font-weight: bold">
					<p id="label_s">@Html.DisplayFor(modelItem => item.Surname)</p>
				</td>
				<td style="text-align:center;font-weight: bold ">
					<p id="label_s">@Html.DisplayFor(modelItem => item.Name)</p>
				</td>
				<td style="text-align:center;font-weight: bold ">
					<p id="label_s">@Html.DisplayFor(modelItem => item.Patronymic)</p>
				</td>
				<td style="text-align:center;font-weight: bold;">
					<a class="btn btn-outline-danger" name="selectedStudent" id="deleteStudent" onclick="DropStudent(@item.ID_Student)" style="border:1px; font-weight:normal">Удалить</a>

				</td>
			</tr>
			}
	</tbody>
	</form>
</table>

<script type='text/javascript'>

	var myTable = document.getElementById("myTable")

	function DropStudent(Id) {
		fetch('/Home/DropStudent/' + Id)
			// .then(function (response) {
			// 	return response.text();
			// })
			// .then(function (html) {
			// 	myTable.innerHTML = html;
			// });
		location.reload();
	}

</script>

