@using System.Security.Claims;
@using recordBook.Models
@using recordBook.Models.ViewModels

@model ExamsViewModel
@{
	ViewData["Title"] = "Задолженности: " + Model.Students.First().Surname + " " + Model.Students.First().Name + " " + Model.Students.First().Patronymic ;
}
<h1>@ViewData["Title"]</h1>
<table class="table" id="myTable" style="width:95%">

	<thead>
		<tr>
			<th id="tableLabel">
				<h6 style="margin-bottom : 0px; text-align:justify">Дисциплина</h6>
			</th>
			<th id="tableLabel">
				<h6 style="margin-bottom : 0px; text-align:justify; display:inline">Оценка</h6>
				<button type="button" id="ChangeGradeBtn" class="btn btn-warning">Изменить</button>
			</th>
			<th id="tableLabel">
				<h6 style="margin-bottom : 0px; text-align:justify">Тип работы</h6>
			</th>
			<th id="tableLabel">
				<h6 style="margin-bottom : 0px; text-align:justify">Дата сдачи</h6>
			</th>
		</tr>
	</thead>
	<tbody>

		@foreach (var r in Model.Academic_Performances
				.Where(a => a.Grade == "Нет оценки" || a.Grade == "Не удовлетворительно")
				.Where(q => q.Date < DateTime.Now ))
		{

				<tr id="columnGrade">
				<td style="text-align:justify;  font-weight: bold ">
					<p id="label_s"> @Model.Subjects.Where(q=>q.ID_Subject == r.ID_Subject).Select(q=>q.Name_subject).FirstOrDefault()</p>
				</td>
					<td id="cellGrade" style="text-align:justify; font-weight: bold ">
						<p class="labelsGrade">@r.Grade</p>
						<select class="selectGrades" onchange="GradeIsChanged(@r.ID_Academic_performance,event)" style="max-width:200px; width:80%; height:30px; text-align:justify">
							<option value="Отлично">Отлично</option>
							<option value="Хорошо">Хорошо</option>
							<option value="Удовлетворительно">Удовлетворительно</option>
							<option value="Не удовлетворительно">Не удовлетворительно</option>
							<option value="-" selected>-</option>
						</select>
					</td>

					<td style="text-align:justify;  font-weight: bold ">
					<p id="label_s"> @Model.Kind_of_works.Where(q => q.ID_Kind_of_work == r.ID_Kind_of_work).Select(q => q.Title_of_kind).FirstOrDefault() </p>
					</td>
					<td style="text-align:justify;  font-weight: bold ">
						<p id="label_s"> @r.Date?.ToString("dd MMMM yyyy") </p>
					</td>
				</tr>
			
		}

	</tbody>
</table>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.0/xlsx.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/exceljs/dist/exceljs.min.js"></script>

<script type='text/javascript'>
	$(document).ready(function () {
		$('.selectGrades').hide();
	});

	$('#ChangeGradeBtn').click(function (id) {
		if ($('#ChangeGradeBtn').text() == 'Изменить') {
			$('.selectGrades').show();
			$('#ChangeGradeBtn').text('Сохранить');
		}
		else {
			$('.selectGrades').hide();
			$('#ChangeGradeBtn').text('Изменить');
			location.reload()
		}

	});

	function GradeIsChanged(id, event) {
		var grade = event.target.value;
		$.ajax({
			type: 'POST',
			url: '/Exams/ChangeGrades/',
			contentType: 'application/json',
			data: JSON.stringify({ id: id, newGrade: grade }),
			dataType: 'json',
		});
	};
</script>