@* @using recordBook.Models
@using recordBook.Models.ViewModels *@

@model recordBook.Models.ViewModels.AddStudentViewModel;
@{
	ViewBag.Title = "Добавление студента";
}

<form asp-action="AddStudent" asp-controller="Student">
	@if (Model.studentAdded)
	{
		<span style="color:green;">Студент @Model.Surname @Model.Name @Model.Patronymic добавлен </span><br>
	}

	<!-- #region заполнение студента-->
	Информация о студенте<br><br>
	<div class="form-group">
		<label asp-for="Surname" class="control-label">Фамилия</label>
		<span asp-validation-for="Surname" style="color:Red;"></span>
		<input type="text" asp-for="Surname" class="form-control" />
	</div>

	<div class="form-group">
		<label asp-for="Name" class="control-label">Имя</label>
		<span asp-validation-for="Name" style="color:Red;"></span>
		<input type="text" asp-for="Name" class="form-control" />
	</div>

	<div class="form-group">
		<label asp-for="Patronymic" class="control-label">Отчество</label>
		<input type="text" asp-for="Patronymic" class="form-control" />
	</div>

	<div class="form-group">
		<label class="control-label">Группа</label>
		<select asp-for="ID_Group" style="width:120px; height:40px; text-align:center; margin-top:10px;">
			@foreach (var groups in Model.Groups)
			{
				<option value="@groups.ID_Group">@groups.Name_group</option>
			}
		</select>
	</div>
	<!-- #endregion -->
	<br>
	<hr style="height:3px">
	<!-- #region заполнение студента-->
	Аккаунт студента<br><br>
	<div class="form-group">
		<label asp-for="Login" class="control-label">Логин</label>
		@if (!Model.loginUnique)
		{
			<span style="color:red;">Такой логин уже используется</span><br>
		}
		<input type="text" asp-for="Login" class="form-control" />
	</div>

	<div class="form-group">
		<label asp-for="Password" class="control-label">Пароль</label>
		<span asp-validation-for="Password" style="color:Red;"></span>
		<input type="password" asp-for="Password" class="form-control" />
	</div>

	<div class="form-group">
		<label asp-for="Email" class="control-label">Электронная почта</label>
	@if (!Model.EmailUnique)
	{
		<span style="color:red;">Эта почта уже используется</span><br>
	}
		<input type="text" asp-for="Email" class="form-control" />
	</div>
	<!-- #endregion -->

	<div class="form-group">
		<input type="submit" value="Добавить" class="btn btn-success" style="width:100px; margin-top:10px;" />
	</div>
</form>